extends baseEmail

block content
    strong Hi #{firstName},
    p You have successfully invested 
        b $#{amount} 
        span  on our #{plan.name} investment module.
        p Kindly wait for the stipulated time of #{plan.planDuration} #{plan.timingParameter} and your profits will automatically be credited to your account.  
    p
    | Best Regards,
    br
    strong TradeInvest Support Team!